html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #00262f, #04001b);
    display: none;
  }

#aboutPage {
    height: 100vh;
    position: relative; /* Ensure it's positioned correctly */
}

.h1{
    color: black;
    font-family: 'Roboto', sans-serif;
}

a img {
  width: 100%;  
  height: auto;  
  opacity: 20%;
}
 

button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #0066cc; /* A solid, eye-catching color for the button */
    color: #ffffff; /* White text on the button for contrast */
    border: none;
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    pointer-events: auto;
}
  

.about-title{
  position: relative;
  color: white;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  top: 10%;
  animation: fadeUp 1s ease-out forwards; /* Smooth transition */
}


.about-text1{
  padding: 0 10%;
  position: relative;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  top: 20%;
}


.about-text2{
  padding: 0 10% ;
  position: relative;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  top: 20%;
}

 .about-text3{
  padding: 0 10% ;
  position: relative;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  top: 30%;
}



.button-about {
  position: absolute;
  z-index: 100;
  width: 1000px;
  left: 50%;        /* Center the button horizontally */
  bottom: 5%;      /* Position from the bottom of the viewport */
  transform: translateX(-50%); /* Shift it back by half its width to truly center it */
  width: auto;      /* Auto width based on content */
}

.button-about button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  padding: 10px 20px;
  z-index: 100;
  width: 100;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* White shadow */
  color: #ffffff; /* White text on the button for contrast */
  border: none;
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  pointer-events: auto; /* Ensures the button can be interacted with */
}

.button-about::before {
    content: '\f063 \00a0 \f063'; /* Using Unicode for FontAwesome arrows with added spaces */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: -50px; /* Move it 50px higher from the top of the button */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 100%; /* Increases spacing between the arrows */

}




.button-backToAbout{
  position: absolute;
  top: 5%;        /* Center the button horizontally */
  left: 90%;      /* Position from the bottom of the viewport */
  transform: translateX(-50%); /* Shift it back by half its width to truly center it */
  width: auto;      /* Auto width based on content */
}
  
.button-backToAbout button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* White shadow */
  color: #ffffff; /* White text on the button for contrast */
  border: none;
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  pointer-events: auto; /* Ensures the button can be interacted with */
}

#carousel {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  
}


.carousel-title{
  position: relative;
  color: white;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  top: 5%;
  animation: fadeUp 1s ease-out forwards; /* Smooth transition */

}

/* Assuming .carousel-container is your carousel's main container */
.carousel-container {
  position: relative;
  width: 30%; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
 
  /* Other styling as needed */
}


.carousel-text{
  position: relative;
  color: white;
  font-size: 1rem;
  top: 80%;
  left: -5%; /* Aligns the text to the left of the container */
  padding: 0 10%;
  z-index: 10;
  width: 300px;
  /* animation: fadeIn 1s ease-out forwards;
  opacity: 0;  */
}



.carousel-item {
  --items: 8;
  --width: clamp(150px, 30vw,  300px);
  --height: clamp(150px, 30vw,  300px);
  --x: calc(var(--active) * 1000%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 360deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 );
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .5);
  /* background: rgb(0, 0, 0); */
  pointer-events: all;
  transform:  translate(var(--x), var(--y)) rotate(var(--rot)) ;
  transition: transform .8s cubic-bezier(0, 0.02, 0, 1);
  border-radius: 50%;

  .carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;           /* Using flexbox */
    align-items: center;     /* Center vertically */
    justify-content: center; /* Center horizontally */
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
    font-family: 'Orelo-sw-db', serif;


    &:before {
      content: '';
      position: absolute;
      z-index: -1;  /* Make sure the overlay is behind the content */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5));
    }
  }


    .title {
      font-family: 'Roboto', sans-serif;
      position: absolute;
      z-index: 1;
      top: 20%;
      color: #fff;
      justify-content: center;
      text-align: center;
      transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
      font-size: clamp(20px, 3vw, 30px);
      text-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    }
  
    .region {
      font-family: 'Roboto', sans-serif;
      position: absolute;
      z-index: 1;
      padding: 0 10%;
      top: 40%;
      justify-content: center;
      text-align: center;
      color: #fff;
      transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
      font-size: clamp(15px, 3vw, 20px);
    }

    .speakers {
      font-family: 'Roboto', sans-serif;
      position: absolute;
      z-index: 1;
      color: #fff;
      top: 70%;
      display: flex;           /* Using flexbox */
      align-items: center;     /* Center vertically */
      justify-content: center; /* Center horizontally */
      transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
      font-size: clamp(15px, 3vw, 10px);
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }
  
  .layout {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 90px;
      width: 10px;
      height: 100%;
      border: 1px solid #fff;
      border-top: none;
      border-bottom: none;
      opacity: .15;
    }
  
    .box {
      position: absolute;
      bottom: 0;
      left: 30px;
      color: #fff;
      transform-origin: 0% 10%;
      transform: rotate(-90deg);
      font-size: 9px;
      line-height: 1.4;
      text-transform: uppercase;
      opacity: .4;
    }
  }
  
  .logo {
    position: absolute;
    z-index: 2;
    top: 28px;
    right: 28px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orelo-sw-db', serif;
    pointer-events: all;
    color: black;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    padding-bottom: .1em;
  }
  
  .social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 25px;
    color: #fff;
    opacity: .4;
  
    a {
      display: inline-block;
      margin-left: 3px;
    }
  
    svg {
      --fill: #fff;
      width: 35px;
      height: 35px;
    }
  }
  
  .cursor {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .2);
    margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
    transition: transform .85s cubic-bezier(0, 0.02, 0, 1);
    display: none;
    pointer-events: none;
    
    @media (pointer: fine) {
      display: block;
    }
  }
  
  .cursor2 {
    --size: 2px;
    transition-duration: .7s;
  }

  .carousel-item.highlight {
    border: 2px solid red; /* Example: Add a red border or other styling */
    transform: scale(1.1);
    z-index: 1000;
}

@media (max-width: 768px) {
  .title, .region, .speakers {
      font-size: clamp(15px, 2vw, 10px); /* Smaller font size for smaller devices */
  }

  .about-text1, .about-text2, .about-text3 {
      font-size: 1.4rem; /* Smaller font size */
      padding: 0 5%; /* Less padding */
  }



  .carousel-item {
      --width: clamp(100px, 28vw, 200px);
      --height: clamp(100px, 28vw, 200px);
  }

  .button-about button {
    padding: 10px 5%; /* Use percentage for padding to scale with screen size */
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* Responsive font size */
}

}




  @media (max-width: 480px) {
    .title, .region, .speakers{
      display: flex;           /* Using flexbox */
    align-items: center;     /* Center vertically */
    justify-content: center; /* Center horizontally */
    }

    .region{
      --font-sixe: clamp(px, 60vw,  600px);
    }

        .carousel-item {
        --items: 10;
        --width: clamp(150px, 60vw,  600px);
        --height: clamp(150px, 60vw,  600px);
    }

    .about-title{
      font-size: 30px;
      top: 5%;
      padding: 0 5%;
    }

    .about-text1, .about-text2, .about-text3{
      font-size: 15px;
      top: 5%;
      padding: 0 5%;
    }

    .button-about {
      font-size: 20px;
      top: 70%;
    }


    .button-about button{
      font-size: 20px;
    
    }

    .button-backToAbout button{
      font-size: 15px;
   
    }

    .button-backToAbout {
      
      top: 5%;
      left: 50%;
    }

    .carousel-title{
      font-size: 20px;
      top: 20%;
    }

    .carousel-text{
      font-size: 15px;
      top: 80%;
      left: 0%;
      width: auto;
      justify-content: center;
      text-align: center;
      padding: 0 5%;
      
    
    }
   
}
  