/* Global styles for html and body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(135deg, rgb(0, 38, 47), #04001b);
  font-family: 'Orbitron', sans-serif;
}

/* Flexbox for body to center content */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container for the language information */
#aboutLanguage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  text-align: justify;
}

/* Styling for the language title */
.language-title {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 5vw;
  margin: 20px 0;
  text-align: center;
  word-break: break-word; /* Ensure words break correctly */
  white-space: normal; /* Allow wrapping */
  overflow-wrap: anywhere; /* Handle breaking long words */
}

/* Styling for the language text */
.language-text1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 0 5%;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 20px;
}

/* Positioning and styling for the back button */
.button-backToAllLanguages {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.button-backToAllLanguages button {
  font-family: 'Orbitron', sans-serif;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* White shadow */
  color: #ffffff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: calc(8px + 1vmin);
  cursor: pointer;
  max-width: 80%;
  pointer-events: auto; /* Ensures the button can be interacted with */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button-backToAllLanguages button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* General styling for content sections */
.content-sections {
  display: block; /* Use block display to stack sections */
}

/* Styling for section titles */
.section-title {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 2vw;
  margin: 20px 0;
  text-align: center;
}

/* Styling for each specific content section */
.audio-section, .links-section, .references-section {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  text-align: justify;
}

/* Center alignment for links section */
.links-section {
  text-align: center;
}

/* Styling for the audio player */
.audio-player {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  max-width: 50%;
}

/* List styling for resources and references */
.resources-list, .references-list {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resources-list a, .references-list li {
  margin: 10px 0;
}

.resources-list a, .references-list a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

/* Additional styling for resource links */
.resources-list a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: inline-block;
  line-height: 3rem;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.resources-list a:hover {
  color: #646464;
}

/* Styling for dividers */
.divider {
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 40px auto; /* Ensure consistent spacing */
}

/* Responsive styling for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .button-backToAllLanguages {
    position: relative;
    top: 5%;
    left: 0;
    transform: none;
    margin-bottom: 20px;
    height: 20px;
    text-align: center;
    width: 100%;
    display: block;
  }

  .button-backToAllLanguages button {
    margin: 0 auto;
    display: block;
    padding: 10px 20px; /* Increased padding for a thicker button */
  }

  .language-title {
    font-size: 8vw;
  }

  .language-text1 {
    font-size: 4vw;
    padding: 0 1%;
  }

  .section-title {
    font-size: 5vw;
  }

  .content-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .audio-section, .links-section, .references-section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .audio-player {
    max-width: 90%;
  }

  .resources-list a {
    font-size: 4vw;
  }

  .divider {
    width: 90%;
    margin: 20px auto;
  }
}

/* Responsive styling for screens smaller than 480px */
@media only screen and (max-width: 480px) {
  .language-title {
    font-size: 10vw;
  }

  .language-text1 {
    font-size: 5vw;
    padding: 0 5%;
    margin-top: 10px;
  }

  .section-title {
    font-size: 6vw;
  }

  .audio-player {
    max-width: 100%;
  }

  .resources-list a {
    font-size: 5vw;
  }

  .divider {
    width: 90%;
    margin: 20px auto;
  }
}
