html, body {
    height: 100%; /* Make sure html and body cover full height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  body {
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(135deg, rgb(0, 38, 47), #04001b);
  }

  #aboutLanguage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; /* Add padding to prevent content from touching the edges */
  }

  
  .h1, .language-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin: 0; /* Reset margin to help with spacing */
  }
  
  .language-title {
    font-size: 3vw; /* Use viewport width for scaling */
  }
  
  .language-text1, .language-text-sharanahua {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    padding: 0 10%; /* Use percentage for padding */
    font-size: 2vw; /* Adjust base font size using viewport width */
  }

  .button-backToAllLanguages {
    position: fixed; /* Use fixed to keep it visible */
    top: 5%;
    left: 5%;
    z-index: 100; /* Ensure it's above other content */
  }
  
  .button-backToAllLanguages button {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent */
    color: #ffffff;
    border: 2px solid #ffffff; /* Add border for better visibility */
    padding: 0.5em 1em; /* Increase padding */
    border-radius: 5px;
    font-size: calc(6px + 1vmin); /* Responsive font size */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button-backToAllLanguages button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Change background on hover */
  }

  .audio-player {
    width: 50%; /* More appropriate width */
    position: fixed; /* Fixed to ensure it's always accessible */
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  

  @media only screen and (max-width: 768px) {
    .language-title {
        font-size: 5vw; /* Increase font size slightly for medium devices */
    }
    
    .language-text1, .language-text-sharanahua {
        font-size: 3.5vw;
    }
  }
  
  @media only screen and (max-width: 480px) {
    h1, .language-title {
        font-size: 1.25rem; /* Adjust size on smaller devices */
      }
    
      p, .language-text {
        font-size: 0.875rem; /* Adjust text size for smaller screens */
      }
   
    
    .language-text1, .language-text-sharanahua {
        font-size: 4vw;
    }
  
    .audio-player {
        width: 95%; /* Maximize width for smaller screens */
    }
  }
  